/*html{
    width: 100vw;
    height: 100vw;
    font-size: 92.5%;
    color: rgb(252, 249, 249);
    
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
    padding: 16px 0;
    background-color:#182c61;
    color: aliceblue;
    font-weight: normal;
    
}
header, section h1, section h2, section h3, form button{
font-family: 'Bungee', cursive;
font-weight: normal;

} 

header nav li {
    display: inline;
    margin-left: 30px;
    color: aliceblue;
    font-size: 18px;
    text-align: right;
}
header nav li a{
    color: aliceblue;
    text-decoration: none;
    
}

main, input, textarea{
    
    font-family: 'Roboto', sans-serif;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
}
header .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -54px;
    

}
section .menu_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
section .menu_content{
    align-items: flex-start;
}

.brand_list img {
    height: 24px;
}
.brand_list li{
    display:inline;
    margin-right: 8px;
   
}
#about{
    color:#182c61;
   
}
#contact{
    color: #182c61;
}
.media_links img{
    height: 24px;
}
header .logo{
    align-items:center;
    letter-spacing: 0.2rem;
}
section{
    padding: 24px 0;

}
section h1{
    margin-bottom: 16px;

}
section p{
    margin-bottom: 8px;
}
section .logo_store{
    margin-right:32px ;
}
.media_links img{
    height: 24px;
    margin-right: 8px;
}
.media_links li{
    display: inline;
}

#contact .tcontent{
    display: block;
}
.contact_methods{
    display: flex;
    justify-content: space-between;
}
form input, form textarea, form button{
display: block;
width: 320px;
margin-bottom: 8px;
padding: 8px;
}
section .contact_menu_name{
    margin-bottom: 8px;
}
form textarea{
    resize: none;
}
section h3{
    margin-bottom: 8px;
}
form button{
    background-color: #182c61;
    color: aliceblue;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    transition: 1.5s;
}

form button:hover{
    background-color: #4570e6;
    
}
.content .list_itens{
    list-style: none;
}
.content .list_itens a{
    text-decoration: none ;
    color: white; 
    padding: 0rem;
    transform: 2ms easy-in;
    position: relative;
}
.content .list_itens a:before{
    content:' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(234, 235, 223) ;
    transition: all 1.5s ease;
}
.content .list_itens a:hover:before{
    width: 100%;
}
footer .footer{
    background-color: #182c61;
    color:aliceblue;
    padding: 16px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}